body{
    background-color: aquamarine;
}
#btn{
    text-align: center;
    background-color: rgb(50, 75, 75);
    position: absolute;
    top: 45%;
    left: 43%;
    border: none;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color: wheat;
}
img{
    position: absolute;
    top: 25%;
    left: 43%; 
}
div{
    position: absolute;
    top: 25%;
    left: 43%;   
}