*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(236, 241, 241);
}
.container{
    position: absolute;
    top: 25%;
    left: 35%;
    display:inline-block;
    border-radius: 10px;
    background-color: rgb(177, 173, 173);
}
.label{
float: left;
margin: 20px 20px 30px 20px;
font-size: 20px;
}
.input{
    float: left;
    padding: 20px;
}
.button{
    float: right;
    padding: 20px;
    font-size: 20px;
}
.input-field{
    padding: 5px;
    margin: 5px 0;
}
.btn-field{
    padding: 5px;
    margin: 2px 0;
    font-size: 20px;
}
.label-field{
    line-height: 40px;
    margin-top: 40px;
}