*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
.m-top{
    margin-top: 2%;
}
.container{
    height: 300px;
    width: 20%;
    position: absolute;
    top: 10%;
    left: 35%;
    right: 25%;
    
}
h1{
    font-size: 25px;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 20px;
}
input{
    margin-left: 10px;
    height: 35px;
    width: 77%;

}
#add-todo{
    font-size: 20px;
    font-weight: bold;
    /* height: 50px; */
    padding: 0px 10px;
    background-color: purple;
    color: white;
    margin-top: 10px;
}
#clear{
    position: absolute;
    top: 55%;
    left: 62%;
}