.container{
    border: 2px solid black;
margin: 70px 0px 0px 570px;
padding: 20px 25px;
/* padding-left: 20x; */
width: 15%;
background-color: rgb(39, 34, 34);
}
input[type = text]{
width: 90%;
height: 50px;
}
button{
padding: 10px;
width: 30%;
border: none;
}
#empty{
visibility: hidden;
}