*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    background: linear-gradient(to bottom, rgb(56, 146, 56) 0%, rgb(126, 126, 26) 80%);
   height: 700px;
   margin-top: 25px;
   border-radius: 4px;
   width: 50%;
   color: wheat;
   
}
h1{
    text-align: center;
    color: white;
    font-weight: normal;
    padding: 10px 0px;
    /* border: 2px solid black;  */
}
div input{
    width: 90%;
    padding: 12px 20px;
    margin: 5px 0 0px 35px;
}
label{
    color: white;
    /* font-weight: bold; */
    font-size: 20px;
    margin: 0 35px;
}
button{
    width: 90%;
    margin: 35px;
    border: none;
    padding: 10px;
}
button:hover{
    background-color: rgb(191, 206, 211);
    border: none;
    padding: auto;
}